<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
</head>
<body>

<h2>All Students 👩‍🎓</h2>

<table border="1">
<tr>
    <th>ID</th>
    <th>Leader</th>
    <th>Member1</th>
    <th>Member2</th>
    <th>Member3</th>
    <th>Email</th>
</tr>

{% for s in students %}
<tr>
    <td>{{ s[0] }}</td>
    <td>{{ s[1] }}</td>
    <td>{{ s[2] }}</td>
    <td>{{ s[3] }}</td>
    <td>{{ s[4] }}</td>
    <td>{{ s[5] }}</td>
</tr>
{% endfor %}

</table>

<br>
<a href="/admindashboard">⬅ Back</a>

</body>
</html>